body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #293651;
}

.inicio {
  background-image: url(../img/wave-haikei.svg);
  background-position: center;
  background-size: cover;
}
.topo {
  color: #00a78e;
  font-weight: unset;
  font-size: 13px;
  letter-spacing: 4px;
}

.just {
  text-align: justify;
}

.page {
  text-align: center;
  background-color: #00a78e;
}

.menu {
  display: inline-block;
  font-size: 11px;
  padding: 5px;
  color: aliceblue;
  box-sizing: border-box;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  color: #293651;
}
.menu:hover {
  color: #293651;
}
.free {
  text-align: right;
  margin-right: 10px;
  color: aliceblue;
  font-size: 13px;
}

.container {
  margin-bottom: 30px;
  box-sizing: border-box;
}

.btn {
  color: white;
  padding: 10px;
  background-color: #00a78e;
  border: none;
  border-radius: 40px 10px;
  font-size: 13px;
  text-decoration: none;
}

.btn:hover {
  color: #293651;
}
.regiao {
  display: inline-block;
  box-sizing: border-box;
}
.descricao {
  text-align: right;
  width: 49%;
}
.figura {
  width: 160px;
}

.destaque {
  font-weight: 900;
  font-size: 18px;
  text-align: justify;
}

h3 {
  font-weight: bold;
  font-size: 12px;
}

.informacoes {
  text-align: justify;
  padding: 30px;
  background-color: #f9f9f9;
}

.prof {
  line-height: 30px;
}

.informacoes2 {
  background-color: white;
  box-sizing: border-box;
  margin: 0px 10px 0px 10px;
  text-align: justify;
}
.exp {
  width: 380px;
  text-align: justify;
}

.desenv {
  width: 36%;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.sob {
  margin-top: 60px;
  margin-bottom: 0px;
  text-align: center;
}
.sou {
  font-family: "Concert One", cursive;
}
.sobre {
  margin: 0%;
}
.qualificacao {
  letter-spacing: 4px;
}
.serviços {
  margin: 30px;
}

.serv {
  text-align: center;
  margin: 20px 0px 20px 0px;
}
.frase {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  font-family: "Satisfy", cursive;
  font-size: 18px;
}

.linha {
  text-align: center;
}
.quadro {
  border: solid 2px #00a78e;
  display: inline-block;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin: 3px;
  cursor: pointer;
}

.icone {
  width: 30px;
}

.quadro:hover {
  color: aliceblue;
  background-color: #00a78e;
}
.back {
  text-align: center;
}
.enviar {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
}

.seta {
  height: 10px;
}
.end {
  text-align: center;
  background-color: #f9f9f9;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}
.imagem {
  text-align: left;
  width: 60%;
}
.social {
  cursor: pointer;
  margin: 0%;
  list-style-type: none;
}
.midia {
  display: inline-block;
}
.mapa1 {
  text-align: center;
  cursor: pointer;
}
.mapa2 {
  width: 90%;
}
.localiza {
  text-align: right;
  margin-right: 20px;
}

.encontre {
  display: inline-block;
}
.mensagem {
  cursor: pointer;
}

.mensagem:hover {
  color: #293651;
}
.orcamento {
  text-align: center;
  margin: 10px;
}
.aqui {
  background-color: #00a78e;
  margin: 30px;
  padding: 30px;
  color: aliceblue;
}
.whatts {
  text-align: center;
}
.down {
  color: cornflowerblue;
}
@media (min-width: 960px) {
  body {
    font-size: 20px;
  }
  .topo {
    font-size: 30px;
  }
  .just {
    text-align: right;
  }
  .page {
    text-align: right;
    margin-right: 50px;
    position: sticky;
    top: 10px;
  }
  .menu {
    font-size: 16px;
  }
  .free {
    margin-right: 80px;
    font-size: 20px;
  }
  .container {
    margin: 40px 100px 150px 100px;
    box-sizing: border-box;
  }
  .btn {
    padding: 15px 30px 15px 30px;
    font-size: 18px;
  }
  .figura {
    width: 400px;
  }
  .destaque {
    font-size: 40px;
    text-align: right;
  }
  h3 {
    font-size: 30px;
  }
  .informacoes {
    padding: 100px 200px 100px 200px;
  }
  .exp {
    width: 800px;
    text-align: justify;
    line-height: 40px;
  }
  .serviços {
    padding: 80px;
  }
  .frase {
    padding: 15px;
    font-size: 25px;
  }
  .quadro {
    border: solid 3px #00a78e;
    text-align: center;
    width: 280px;
    height: 120px;
    line-height: 60px;
    margin: 8px;
  }
  .icone {
    width: 60px;
  }
  .enviar {
    padding: 30px;
  }
  .localiza {
    margin-right: 100px;
  }
  .mensagem {
    margin-top: 20px;
  }
}
